@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@600&family=Prompt:wght@500&display=swap');

.footer {
    padding-top: 10%;
}

.class-intro {
    text-align: center;
    color: white;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}

.jiu-jitsu {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.jj-img {

    background-image: url("/images/nolan-kent-finxP8-YEDc-unsplash.webp") !important;
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jj-img::before {
    /* The pseudo-element to create an overlay with opacity */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

.bjj-container h1 {
    color: black;
    font-size: 39px;
    padding-top: 387px;
    /* Adjust the padding to vertically center the text */
    font-family: 'Poppins', Arial, sans-serif;
}

.jj-head {
    /* float: left; */
    padding-top: 180px;
    color: #9EB3C2;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.jj-para {
    position: center;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4em;
    font-family: 'Prompt', sans-serif;
}

.judo-img {
    /* The image used */
    background-image: url("/images/thao-lee-igLzPKOvZNw-unsplash.webp") !important;

    min-height: 450px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.judo-img::before {
    /* The pseudo-element to create an overlay with opacity */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

.judo-container h1 {
    color: white;
    font-size: 39px;
    text-align: center;
    padding-top: 380px;
    /* Adjust the padding to vertically center the text */
    font-family: 'Poppins', Arial, sans-serif;
}

.judo-head {
    padding-top: 60px;
    color: #9EB3C2;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}
.judo-para {
    position: center;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4em;
    font-family: 'Prompt', sans-serif;
}

.muay-img {
    /* The image used */
    background-image: url("/images/jonathan-tomas-rX36vcriciQ-unsplash.webp") !important;

    min-height: 450px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.muay-img::before {
    /* The pseudo-element to create an overlay with opacity */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

.muay-container h1 {
    color: white;
    font-size: 39px;
    text-align: center;
    padding-top: 380px;
    /* Adjust the padding to vertically center the text */
    font-family: 'Poppins', Arial, sans-serif;
}

.muay-head {
    padding-top: 60px;
    color: #9EB3C2;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.muay-para {
    position: center;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4em;
    font-family: 'Prompt', sans-serif;
}

.karate-img {
    /* The image used */
    background-image: url("/images/thao-lee-jc9UD4JQFRQ-unsplash.webp") !important;

    min-height: 450px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.karate-img::before {
    /* The pseudo-element to create an overlay with opacity */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

.karate-container h1 {
    color: white;
    font-size: 39px;
    text-align: center;
    padding-right: 100px;
    padding-top: 370px;
    /* Adjust the padding to vertically center the text */
    font-family: 'Poppins', Arial, sans-serif;
}

.karate-head {
    padding-top: 60px;
    color: #9EB3C2;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.karate-para {
    position: center;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4em;
    font-family: 'Prompt', sans-serif;
}

.self-img {
    /* The image used */
    background-image: url("/images/kelly-sikkema-bE6k8SQT2FQ-unsplash.webp") !important;

    min-height: 450px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.self-img::before {
    /* The pseudo-element to create an overlay with opacity */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

.self-container h1 {
    color: white;
    font-size: 39px;
    text-align: center;
    padding-top: 370px;
    /* Adjust the padding to vertically center the text */
    font-family: 'Poppins', Arial, sans-serif;
}

.self-head {
    padding-top: 60px;
    color: #9EB3C2;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.self-para {
    position: center;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4em;
    font-family: 'Prompt', sans-serif;
}

.fit-img {
    /* The image used */
    background-image: url("/images/mr-lee-f4RBYsY2hxA-unsplash.webp") !important;

    min-height: 450px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fit-img::before {
    /* The pseudo-element to create an overlay with opacity */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    /* Adjust the opacity value as needed */
}

.fit-container h1 {
    color: white;
    font-size: 39px;
    text-align: center;
    /* padding-right: 100px; */
    padding-top: 370px;
    /* Adjust the padding to vertically center the text */
    font-family: 'Poppins', Arial, sans-serif;
}

.fit-head {
    padding-top: 60px;
    color: #9EB3C2;
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
}

.fit-para {
    position: center;
    color: white;
    font-size: 22px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 1.4em;
    font-family: 'Prompt', sans-serif;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    margin-left: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding-bottom: 50px;
    display: none;
    border-top: none;
}

.wrapper-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    padding-left: 70px;
    min-height: 50vh;
    font-family: 'Poppins', sans-serif;
}

.class-wrapper {
    margin: 30px;
    width: 400px;
    background: #f1faee;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.05);
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.header label {
    height: 100%;
    width: 30%;
    z-index: 2;
    display: flex;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#tab-1:checked~header .tab-1,
#tab-2:checked~header .tab-2,
#tab-3:checked~header .tab-3 {
    color: white;
}

.header label:nth-child(2) {
    width: 40%;
}

.header .slider {
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
}

#tab-1:checked~.header .slider {
    left: 3%;
    width: 90px;
    transform: translateX(-5%);
}

#tab-2:checked~.header .slider {
    left: 49%;
    width: 140px;
    transform: translateX(-50%);
}

#tab-3:checked~.header .slider {
    left: 101%;
    width: 100px;
    transform: translateX(-105%);
}

.class-wrapper input[type="radio"] {
    display: none;
}

.cards-area {
    overflow: hidden;
}

.cards-area .cards {
    width: 300%;
    display: flex;
}

.cards .rows {
    width: 33.4%;
}

.cards .row-1 {
    transition: all 0.3s ease;
}

#tab-1:checked~.cards-area .cards .row-1 {
    margin-left: 0%;
}

#tab-2:checked~.cards-area .cards .row-1 {
    margin-left: -33%;
}

#tab-3:checked~.cards-area .cards .row-1 {
    margin-left: -66.8%;
}

.rows .pricing-details {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.pricing-details span {
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
}

.pricing-details span::before,
.pricing-details span::after {
    position: absolute;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.pricing-details span::before {
    content: "$";
    font-size: 20px;
    left: -13px;
    top: 17px;
}

.pricing-details span::after {
    content: "/mon";
    font-size: 13px;
    right: -33px;
    bottom: 17px;
}

/* .pricing-details p {
    font-size: 18px;
    margin-top: 5px;
} */

.rows .ft li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    list-style: none;
}

.ft li i {
    color: #77A5F8;
}

.ft li span {
    margin-left: 10px;
}

.class-wrapper button {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
}

.class-wrapper button:hover {
    transform: scale(0.98);
}

/* second box */

.class-wrapper2 {
    margin: 30px;
    width: 400px;
    background: #f1faee;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.05);
}

.header2 {
    display: flex;
    position: relative;
    align-items: center;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.header2 label {
    height: 100%;
    width: 30%;
    z-index: 2;
    display: flex;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#tab-4:checked~.header2 .tab-4,
#tab-5:checked~.header2 .tab-5,
#tab-6:checked~.header2 .tab-6 {
    color: white;
}

.header2 label:nth-child(2) {
    width: 40%;
}

.header2 .slider2 {
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
}

#tab-4:checked~.header2 .slider2 {
    left: 3%;
    width: 90px;
    transform: translateX(-5%);
}

#tab-5:checked~.header2 .slider2 {
    left: 49%;
    width: 120px;
    transform: translateX(-50%);
}

#tab-6:checked~.header2 .slider2 {
    left: 101%;
    width: 100px;
    transform: translateX(-105%);
}

.class-wrapper2 input[type="radio"] {
    display: none;
}

.cards-area2 {
    overflow: hidden;
}

.cards-area2 .cards2 {
    width: 300%;
    display: flex;
}

.cards2 .rows2 {
    width: 33.4%;
}

.cards2 .row-2 {
    transition: all 0.3s ease;
}

#tab-4:checked~.cards-area2 .cards2 .row-2 {
    margin-left: 0%;
}

#tab-5:checked~.cards-area2 .cards2 .row-2 {
    margin-left: -33%;
}

#tab-6:checked~.cards-area2 .cards2 .row-2 {
    margin-left: -66.8%;
}

.rows2 .pricing-details2 {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.pricing-details2 span {
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
}

.pricing-details2 span::before,
.pricing-details2 span::after {
    position: absolute;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.pricing-details2 span::before {
    content: "$";
    font-size: 20px;
    left: -13px;
    top: 17px;
}

.pricing-details2 span::after {
    content: "/mon";
    font-size: 13px;
    right: -33px;
    bottom: 17px;
}

.pricing-details2 .priv::after {
    content: "/hr";
    font-size: 13px;
    right: -19px;
    bottom: 17px;
}

.rows2 .ft2 li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    list-style: none;
}

.ft2 li i {
    color: #77A5F8;
}

.ft2 li span {
    margin-left: 10px;
}

.class-wrapper2 button {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
}

.class-wrapper2 button:hover {
    transform: scale(0.98);
}

/* third box */

.class-wrapper3 {
    width: 400px;
    background: #f1faee;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.05);
}

.header3 {
    display: flex;
    position: relative;
    align-items: center;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.header3 label {
    height: 100%;
    width: 30%;
    z-index: 2;
    display: flex;
    position: relative;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#tab-7:checked~.header2 .tab-7,
#tab-8:checked~.header2 .tab-8,
#tab-9:checked~.header2 .tab-9 {
    color: white;
}

.header3 label:nth-child(2) {
    width: 40%;
}

.header3 .slider3 {
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: all 0.3s ease;
}

#tab-7:checked~.header3 .slider3 {
    left: 3%;
    width: 90px;
    transform: translateX(-5%);
}

#tab-8:checked~.header3 .slider3 {
    left: 49%;
    width: 100px;
    transform: translateX(-50%);
}

#tab-9:checked~.header3 .slider3 {
    left: 101%;
    width: 100px;
    transform: translateX(-105%);
}

.class-wrapper3 input[type="radio"] {
    display: none;
}

.cards-area3 {
    overflow: hidden;
}

.cards-area3 .cards3 {
    width: 300%;
    display: flex;
}

.cards3 .rows3 {
    width: 33.4%;
}

.cards3 .row-3 {
    transition: all 0.3s ease;
}

#tab-7:checked~.cards-area3 .cards3 .row-3 {
    margin-left: 0%;
}

#tab-8:checked~.cards-area3 .cards3 .row-3 {
    margin-left: -33%;
}

#tab-9:checked~.cards-area3 .cards3 .row-3 {
    margin-left: -66.8%;
}

.rows3 .pricing-details3 {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}

.pricing-details3 span {
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
}

.pricing-details3 span::before,
.pricing-details3 span::after {
    position: absolute;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.pricing-details3 span::before {
    content: "$";
    font-size: 20px;
    left: -13px;
    top: 17px;
}

.pricing-details3 .week::after {
    content: "/week";
    font-size: 13px;
    right: -38px;
    bottom: 17px;
}

.pricing-details3 .visit::after {
    content: "/visit";
    font-size: 13px;
    right: -33px;
    bottom: 17px;
}

.pricing-details3 .hour::after {
    content: "/hr";
    font-size: 13px;
    right: -18px;
    bottom: 17px;
}

.rows3 .ft3 li {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    list-style: none;
}

.ft3 li i {
    color: #77A5F8;
}

.ft3 li span {
    margin-left: 10px;
}

.class-wrapper3 button {
    height: 55px;
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
    background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
    transition: transform 0.3s ease;
}

.class-wrapper3 button:hover {
    transform: scale(0.98);
}